---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

 
  {% assign posts = site.posts %}


  <h2 class="post-list-heading">Latests blogposts</h2>
  {%- if posts.size > 0 -%}
  <div class="row post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts limit:10 -%}
      {% include blogpost-card.html post=post %}
    {%- endfor -%}
  </div>
  {%- else -%}
    <p>No posts yet...</p>
  {%- endif -%}

</div>